
  
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
  }

  @media screen and (max-width: 720px){
   
    #profile{
      /* background-color: aqua; */
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 80vh;
    }
    .section__text{
      margin-top: 300px;
    }
    .section__pic-container{
      margin-top: 300px;
      /* margin-bottom: 100px; */
    }

    #about .row{
      /* background-color: aqua; */
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 30px;
    }
    #about .row .about-col-1 .about-pic{
      margin-left: 100px;
      margin-top: -40px;
    }
    #about .row .about-col-2{
      padding: 70px;
      margin-top: -20px;
    }
    #about .row .about-col-2 .about-para{
      color: rgb(94, 94, 94);
      font-size: 20px;
    }
    #education ul li, #experience ul li{
      font-size: 20px;
    }
    #skills{
      margin-top: -50px;
    }
    #skills .container-box{
      display: grid;
      gap: 3rem;
  }
  #skills .container-box .container-title-data{
    width: 450px;
    height: 300px;
  }
  .container-title-data h3{
    color: #543f60b1;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    
}
.container-data a{
  text-align: left;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}
  #projects .container-project{
  display: grid;
      gap: 5rem;
}
#projects .container-project .cta{
  width: 500px;
  height: 400px;
}
#projects .container-project .cta button{
  width: 228px;
  min-height: 60px;
  font-size: 20px;
}
#projects .container-project .cta .text h2{
  font-size: 39px;
}
#contact .container-contact{
  display: grid;
  align-items: center;
  gap: 30px;
}
.getin-details{
  display: flex;
  flex-direction: row;
  gap: 05rem;
}
.getin-1{
  display: flex;
  flex-direction: column;
}

.getin-2{
  display: flex;
  flex-direction: column;
  width: 70px;
}
.form-row{
  display: flex;
  flex-direction: column;
}
#contact form {
  /* background-color: #ffeef2; */
  background-color: #7e64c124;
  padding: 40px;
  border-radius: 15px;
  width: 500px;
}


#contact form .form-row input,
#contact form .form-row textarea {
    width: 420px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    color: #7e7c87;
    padding: 20px 30px;
    outline: none;
    letter-spacing: 1px;
    margin-bottom: 20px;
    word-spacing: 5px;
}
  }

  @media screen and (max-width: 600px){
   
    #profile{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 80vh;
    }
    .section__text{
      margin-top: 700px;
    }
    .section__pic-container{
      margin-top: -10px;
      /* margin-bottom: 100px; */
    }


    #about .row{
      /* background-color: aqua; */
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 5rem;
      padding: 2px;
    }
    #about .row .about-col-1 .about-pic{
     /* margin-right: 50px;
      margin-top: 40px; */
      display: none;
    }
    #about h3,#about h1{
      display: none;
    }
    #about .row .about-col-2{
      padding: 2px;
      margin-top: 450px;
    }
    #about .row .about-col-2 .about-para{
      color: rgb(94, 94, 94);
      font-size: 20px;
      margin-top: 15px;
    }
    #education ul li, #experience ul li{
      font-size: 20px;
    }
    #skills{
      margin-top: -40px;
      margin-left: 30px;
    }
    #skills .container-box{
      display: grid;
      gap: 3rem;
  }
  #skills .container-box .container-title-data{
    width: 350px;
    height: 250px;
  }
  .container-title-data h3{
    color: #543f60b1;
    text-align: center;
    font-weight: 600;
    font-size:15px;
    
}
.container-data a{
  text-align: left;
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
}
  #projects .container-project{
  display: grid;
      gap: 4rem;
      margin-left: 30px;

}
#projects .container-project .cta{
  width: 370px;
  height: 350px;
}
#projects .container-project .cta button{
  width: 162px;
  min-height: 60px;
  font-size: 17px;
}
#projects .container-project .cta .text h2{
  font-size: 32px;
}
#contact .container-contact{
  display: grid;
  align-items: center;
  gap: 30px;
}
.getin-details{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 50px;
/* }
.getin-1{
  display: flex;
  flex-direction: column;
}

.getin-2{
  display: flex;
  flex-direction: column;
  width: 70px;
  
}
.form-row{
  display: flex;
  flex-direction: column; */
}
#contact form {
  /* background-color: #ffeef2; */
  background-color: #7e64c124;
  padding: 40px;
  border-radius: 15px;
  width: 400px;
  margin-left: 30px;
}


#contact form .form-row input,
#contact form .form-row textarea {
    width: 320px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    color: #7e7c87;
    padding: 20px 30px;
    outline: none;
    letter-spacing: 1px;
    margin-bottom: 20px;
    word-spacing: 5px;
}
.footer-bottom{
  width: 420px;
}
  }
